<ul class="sidebar navbar-nav">
  <li class="nav-item">
    <a class="nav-link" routerLink="categories">
      <i class="fas fa-fw fa-layer-group"></i>
      <span> Catégories</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="books">
      <i class="fas fa-fw fa-book"></i>
      <span> Livres</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="livres">
      <i class="fas fa-fw fa-book"></i>
      <span> Livres</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="articles">
      <i class="fas fa-fw fa-newspaper"></i>
      <span> Articles</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="histoires">
      <i class="fas fa-fw fa-book-open"></i>
      <span> Histoires</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="auteurs">
      <i class="fas fa-fw fa-user-edit"></i>
      <span> Auteurs</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="users">
      <i class="fas fa-fw fa-user-friends"></i>
      <span> Utilisateurs</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="monprofile">
      <i class="fas fa-fw fa-user"></i>
      <span> Mon Profile</span></a>
  </li>
</ul>
