<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a routerLink="/mylibrary">My Library</a>
  </li>
  <li class="breadcrumb-item">
    <a routerLink="/monprofile">Mon Profile</a>
  </li>
  <li class="breadcrumb-item active">Edit mon Profile</li>
</ol>
<div class="container">
  <form  [formGroup]="updateForm" (ngSubmit)="onUpdateProfile()">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <div class="form-label-group">
              <input type="text" formControlName="displayName" id="displayName" class="form-control" placeholder="Nom et Prénom" autofocus="autofocus" [(ngModel)]="userCurrent.name">
              <label for="displayName">Nom et Prénom</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="email" formControlName="email" id="email" class="form-control" placeholder="Email address" autofocus="autofocus"  [(ngModel)]="userCurrent.email">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="tel" formControlName="phone" id="phone" class="form-control" placeholder="Phone" autofocus="autofocus"  [(ngModel)]="userCurrent.phone">
              <label for="phone">Phone</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="password" formControlName="password" id="password" class="form-control" placeholder="Password"  [(ngModel)]="userCurrent.password">
              <label for="password">Password</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <p>Photo</p>
            <input type="file" (change)="detectFiles($event)" class="form-control" accept="image/*" >
            <br />
            <img [src]="fileUrl" *ngIf="fileUrl.length > 0" width="200" height="200" class="rounded-circle">
            <div class="progress" *ngIf="fileIsUploading">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 90%" [(ngModel)]="userCurrent.photoUrl"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <button class="btn btn-primary" type="submit" [disabled]="updateForm.invalid || fileIsUploading" style="float: right;">Enregistrer</button>
  </form>
  <p class="text-danger">{{errorMessage}}</p>
</div>

